accelerate
bitsandbytes
galois
gurobipy
huggingface-hub==0.27.0
jax
jumanji
jupyterlab
matplotlib
matplotlib-inline
more-itertools
networkx
opencv-python
peft
scipy
elkai

pandas
scikit-learn
timm
jupyter
torch

# Huggingface
safetensors
tokenizers
evaluate
datasets
transformers
trl

# Monitoring / configuration
tensorboard
wandb
omegaconf
gpustat
nvitop
packaging
rich


hatchling
editables






